* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f6f6f6;
  font-family: "Arvo", serif;
  color: #444;

  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.text-white {
  color: white;
}

.font-30x {
  font-size: 3rem;
}

.font-20x {
  font-size: 2rem;
}

.font-15x {
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}
.center {
  text-align: center;
}

.d-inline-block {
  display: inline-block;
}

.debug-blue {
  outline: 2px solid blue;
}

.justify-center {
  justify-content: center;
}

.h-100 {
  height: 100%;
}

section.greeting {
  height: 100vh;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-grow-1 {
  flex-grow: 1;
  flex-basis: 10px; /*set the initial length*/
}

.main-services {
  padding-top: 140px;
  padding-bottom: 100px;
}

.cases,
.weight-loss-service {
  padding-top: 140px;
  padding-bottom: 100px;
}

.weight-loss-service .container {
  width: 40%;
}

.main-services-img1 {
  height: 400px;
}
.main-services-img2 {
  height: 400px;
}

.image-spacer-1 {
  height: 400px;
}

.image-spacer-2 {
  height: 600px;
}

.bg-white {
  background-color: white;
}

.shadow {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}

.video-center {
  width: 560px;
  margin: 0px auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 40px;
  color: black;
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 2rem;
}
/* 
        1  2  3  4   5
scale: 10 20 40 80 160

*/

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.my-4 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.border-2 {
  border: 20px solid white;
}

.m-3 {
  margin: 40px;
}

.mb-2 {
  margin-bottom: 20px;
}

.py-5 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(0.25px) scale(0.75) translateX(-94%) translateY(-100%)
    rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

img:last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%)
    rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n + 1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("../images/sample4.jpg");
  z-index: 2;
}

#title h1 {
  transform: translateZ(0.25px) scale(0.75);
  transform-origin: 50% 100%;
}

#slide1:before {
  background-image: url("../images/sample4.jpg");
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("../images/sample4.jpg");
  z-index: 2;
}

#slide3:before {
  background-image: url("../images/sample4.jpg");
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background: #222;
}
