.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input-search {
    padding: 10px;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #d8d8d8;
}
.item {
    height: 50px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 4px;
    background-color: #e0e0e0;
    user-select: none; 
}

.item-name {
    margin-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display:flex;
    flex-direction: row;
}

#from,
#to {
    height:400px;
    width: 400px;
    overflow: scroll;
    margin-right: 20px;
    outline: 2px solid purple;
}