@font-face {
    font-family: c64font;
    src: url('Commodore-64-v6.3.TTF');
}

body {
    background-color: black;
    color: #C2C3C7;
    padding-top: 1rem;
}

pre {
    line-height: 1.5rem;
    font-family: c64font;
}

[c64font] {
    font-family: c64font;
}

[black] {
    color: #000000;
}

[dark-blue] {
    color: #1D2B53;
}

[dark-purple] {
    color: #7E2553;
}

[dark-green] {
    color: #008751;
}

[brown] {
    color: #AB5236;
}

[dark-grey] {
    color: #5F574F;
}

[light-grey] {
    color: #C2C3C7;
}

[white] {
    color: #FFF1E8;
}

[red] {
    color: #FF004D;
}

[orange] {
    color: #FFA300;
}

[yellow] {
    color: #FFEC27;
}

[green] {
    color: #00E436;
}

[blue] {
    color: #29ADFF;
}

[lavender] {
    color: #83769C;
}

[pink] {
    color: #FF77A8;
}

[light-peach] {
    color: #FFCCAA
}

[inv-dark-purple] {
    background-color: #7E2553;
    color: black;
}

[inv-dark-green] {
    background-color: #008751;
    color: black;
}

[inv-orange] {
    background-color: #FFA300;
    color: black;
}

[inv-lavender] {
    background-color: #83769C;
    color: black;
}

[inv-red] {
    background-color: #FF004D;
    color: black;
}


[lg] {
    font-size: 3rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.track {
    width: 12rem;
    border: 0.25rem dashed #5F574F;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 1rem;
    height: 15rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button, .button-wide {
    height: 5rem;
    border: 0.25rem solid #5F574F;
    background: black;
    color: #5F574F;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 5rem;
    padding: 0rem;
}

.button-wide {
    width: 14rem;
}

.button-wide:hover {
    box-shadow: 0 0 2rem #1D2B53;
    border-color: #29ADFF;
    color: #29ADFF;
}

.button.clicked,.button:active {
    border-color: #008751;
    background: #00E436;
    color: black;
    cursor: not-allowed;
    box-shadow: 0 0 1rem #008751;
}

.button:hover:not(.clicked) {
    border-color: #008751;
    color: #008751;
}

[player-button] {
    font-size: 1.25rem;
}

.player-button-stop {
    font-size: 2rem;
}

#progress {
    margin: 1rem;
    height: 2rem;
    width: 55rem;
    display: flex;
    flex-direction: row;
}

#progress-done {
    width:0%;
    background-color: #FFA300;
}

#progress-todo {
    flex:1;
    background-color: #7E2553;
}

#progress-overflow {
    width:0%;
    background: #FF004D;
    box-shadow: 0 0 2rem #FF004D;
}

span[glowText] {
    text-shadow: 0 0 1rem #FFA300;
}

[knight] {
    width: 30vw;
    height: auto;
    max-width: 12rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 6px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {    
    html {
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {    
    html {
        font-size: 20px;
    }
}